$purple: #692adc;
$blue: #24c9d9;
$green: #50c56c;
$blue: #4ec4ce;
$brandblack: #172243;
$brandpurple: #692adc;
$brandlightblue: #408ed8;
$lightblue: #eaf5ff;
$ligtpurple: #f1eaff;
$placeholder: #64748b;
$brandgreen: #1ae1d9;
$branddarkgreen: #0ed0c8;
$branddarkergreen: #24c9d9;
